#=================================
# Visual studio code
#=================================
.vscode/
courses.code-workspace
**.DS_Store

#=================================
# NPM
#=================================
node_modules/
package-lock.json
